.custom-switch .custom-control-label::before {
  content: "延後發文";
  position: absolute;
  left: -40px; /* 調整左側文本位置 */
}

.custom-switch .custom-control-label::after {
  content: "立即發文";
  position: absolute;
  right: -40px; /* 調整右側文本位置 */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  transform: translateX(-50%); /* 左側文本移出開關 */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(50%); /* 右側文本移出開關 */
}

.hd {
  display: flex;
  flex-direction: row;
}
